<!DOCTYPE html>
<html lang="en">

{% include structure/head.html %}

<body class="text-light">

{% include bars/nav.html %}

{% capture col1 %}{% if page.narrow %}3{% else %}4{% endif %}{% endcapture %}

{% capture col2 %}{% if page.narrow %}9{% else %}8{% endif %}{% endcapture %}

<div class="container-fluid site-container" id="top">
    <div class="row no-gutters">

<!-- ant embed -->
<iframe class="col-md" style="height: 86vh"
src="https://ant.ztg.plus:5443/WebRTCAppEE/play.html?name=1BCpadjiPGlY1668023913512"
frameborder="0" allowfullscreen></iframe>

        <div class="col-md-2">
            <iframe id="chat" src="//embed.tlk.io/ztg?theme=theme--night" style="margin-bottom: -8px;" width="100%"
                height="100%" frameborder="0">
            </iframe>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                {{ content }}
            </div>
            <div class="col-md-3">
                <div class="alert alert-warning d-flex align-items-center">
                    <span class="icon grey mr-2">
                        {% include entypo/help-with-circle.svg %}
                    </span>
                    If chat isn't loading
                </div>
                <ul>
                    <li>Try disabling ad blockers or privacy extensions for this site</li>
                    <li>Access the chat directly at <a href="https://tlk.io/ztg">tlk.io/ztg</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2017 The Bootstrap Authors
 * Copyright 2014-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

// See the Getting Started docs for more information:
// https://getbootstrap.com/getting-started/#support-ie10-width

(function () {
    'use strict'

    if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement('style')
        msViewportStyle.appendChild(
            document.createTextNode(
                '@-ms-viewport{width:auto!important}'
            )
        )
        document.head.appendChild(msViewportStyle)
    }
}())
</script>

</body>

</html>
